.navbar {
  display: none; /* Escondido por padrão no Desktop */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  border-top: 1px solid #eaecf0;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.03);
  padding-bottom: env(safe-area-inset-bottom); /* Ajuste para iPhone */
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #98a2b3;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.label {
  font-size: 0.65rem;
  font-weight: 500;
}

.active {
  color: #ea1d2c;
}

/* SÓ MOSTRA NO MOBILE */
@media (max-width: 768px) {
  .navbar {
    display: flex;
  }
}