* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f4f7; /* Fundo cinza bem suave (não é branco puro para dar contraste nos cards) */
  color: #344054; /* Cinza escuro para texto (melhor que preto puro para leitura) */
  -webkit-font-smoothing: antialiased;
}

/* FORÇA a fonte em botões e inputs (correção do bug da fonte) */
button, input, textarea, select {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}